parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$code of class LogicException constructor expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/ConsumeCommand.php

		-
			message: '#^Call to an undefined method Interop\\Amqp\\AmqpContext\:\:getLibChannel\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/RequeueFailedCommand.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Context\:\:convertMessage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/RequeueFailedCommand.php

		-
			message: '#^Instanceof between MessageBusBundle\\Exception\\InterruptProcessingException and MessageBusBundle\\Exception\\InterruptProcessingException will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Consumption/BatchQueueConsumer.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Context\:\:bind\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Driver/AmqpDriver.php

		-
			message: '#^Parameter \#2 \$source of class Interop\\Amqp\\Impl\\AmqpBind constructor expects Interop\\Amqp\\AmqpDestination, Interop\\Queue\\Queue given\.$#'
			identifier: argument.type
			count: 1
			path: src/Driver/AmqpDriver.php

		-
			message: '#^Parameter \#1 \$context of class MessageBusBundle\\Driver\\AmqpDriver constructor expects Interop\\Amqp\\AmqpContext, Interop\\Queue\\Context given\.$#'
			identifier: argument.type
			count: 1
			path: src/Driver/DriverFactory.php

		-
			message: '#^Instanceof between MessageBusBundle\\Exception\\InterruptProcessingException and MessageBusBundle\\Exception\\InterruptProcessingException will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/EnqueueProcessor/Batch/AbstractBatchProcessor.php

		-
			message: '#^Method MessageBusBundle\\EnqueueProcessor\\Batch\\AbstractBatchProcessor\:\:process\(\) should return array\<string\> but returns array\<MessageBusBundle\\EnqueueProcessor\\Batch\\Result\>\.$#'
			identifier: return.type
			count: 1
			path: src/EnqueueProcessor/Batch/AbstractBatchProcessor.php

		-
			message: '#^PHPDoc tag @param has invalid value \(InteropMessage\[\]\)\: Unexpected token "\\n     \*", expected variable at offset 34 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/EnqueueProcessor/Batch/AbstractBatchProcessor.php

		-
			message: '#^Constant MessageBusBundle\\EnqueueProcessor\\ExceptionHandler\\RequeueHandler\:\:REQUEUE_STACK_TRACE is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: src/EnqueueProcessor/ExceptionHandler/RequeueHandler.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:isOpen\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EventSubscriber/ConsumerDoctrineEventSubscriber.php

		-
			message: '#^Parameter \#1 \$tags of method Sentry\\Tracing\\SpanContext\:\:setTags\(\) expects array\<string, string\>, array\<string, int\<0, max\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/EventSubscriber/SentryProfilerEventSubscriber.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Context\:\:declareQueue\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Message\:\:setRoutingKey\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Producer\:\:setDelayStrategy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^PHPDoc tag @param for parameter \$exchange with type string\|null is not subtype of native type string\.$#'
			identifier: parameter.phpDocType
			count: 2
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^PHPDoc tag @param for parameter \$message with type string is incompatible with native type Interop\\Queue\\Message\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^Property MessageBusBundle\\Producer\\EnqueueProducer\:\:\$topicName is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Producer/EnqueueProducer.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/AmqpTools/RabbitMqQueueManagerTest.php

		-
			message: '#^Class MessageBusBundle\\Command\\RequeueFailedCommand constructor invoked with 3 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 2
			path: tests/TestCase/Unit/Command/RequeueFailedCommandTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/Command/SetupTransportCommandTest.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Context\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/Consumption/BatchQueueConsumerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/Consumption/BatchQueueConsumerTest.php

		-
			message: '#^Method class@anonymous/tests/TestCase/Unit/Encoder/EncoderRegistryAwareTraitTest\.php\:17\:\:setEncoderRegistry\(\) has invalid return type MessageBusBundle\\Encoder\\EncoderRegistryAwareTrait\.$#'
			identifier: return.trait
			count: 1
			path: tests/TestCase/Unit/Encoder/EncoderRegistryAwareTraitTest.php

		-
			message: '#^PHPDoc tag @return with type MessageBusBundle\\Encoder\\EncoderRegistryAwareTrait is incompatible with native type class@anonymous/tests/TestCase/Unit/Encoder/EncoderRegistryAwareTraitTest\.php\:17\.$#'
			identifier: return.phpDocType
			count: 1
			path: tests/TestCase/Unit/Encoder/EncoderRegistryAwareTraitTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/Encoder/ZlibCheckTraitTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/EnqueueProcessor/AbstractProcessorTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/TestCase/Unit/EnqueueProcessor/ExceptionHandler/ExceptionTraceGeneratorTraitTest.php

		-
			message: '#^Call to an undefined method Enqueue\\Client\\Config\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/TestCase/Unit/EnqueueProcessor/ExceptionHandler/RequeueHandlerTest.php

		-
			message: '#^Call to an undefined method MessageBusBundle\\Producer\\ProducerInterface\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/EnqueueProcessor/ExceptionHandler/RequeueHandlerTest.php

		-
			message: '#^Call to an undefined method Psr\\EventDispatcher\\EventDispatcherInterface\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/EnqueueProcessor/ExceptionHandler/RequeueHandlerTest.php

		-
			message: '#^Call to an undefined method Psr\\Log\\LoggerInterface\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/EnqueueProcessor/ExceptionHandler/RequeueHandlerTest.php

		-
			message: '#^Call to an undefined method Symfony\\Bridge\\Doctrine\\ManagerRegistry\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 9
			path: tests/TestCase/Unit/EventSubscriber/ConsumerDoctrineEventSubscriberTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 11
			path: tests/TestCase/Unit/EventSubscriber/SentryProfilerEventSubscriberTest.php

		-
			message: '#^Call to an undefined method Interop\\Amqp\\AmqpContext\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/TestCase/Unit/Producer/EnqueueProducerTest.php

		-
			message: '#^Call to an undefined method Interop\\Amqp\\AmqpContext\:\:method\(\)\.$#'
			identifier: method.notFound
			count: 15
			path: tests/TestCase/Unit/Producer/EnqueueProducerTest.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Producer\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/Producer/EnqueueProducerTest.php

		-
			message: '#^Call to an undefined method Interop\\Queue\\Producer\:\:method\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/TestCase/Unit/Producer/EnqueueProducerTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\EventDispatcher\\EventDispatcherInterface\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/TestCase/Unit/Producer/EnqueueProducerTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\DependencyInjection\\ContainerInterface\:\:method\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Call to an undefined static method class@anonymous/tests/TestCase/Unit/Tests/MessageBusTraitTest\.php\:72\:\:assertEquals\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Method PHPUnit\\Framework\\TestCase@anonymous/tests/TestCase/Unit/Tests/MessageBusTraitTest\.php\:32\:\:__construct\(\) overrides @final method PHPUnit\\Framework\\TestCase\:\:__construct\(\)\.$#'
			identifier: method.parentMethodFinalByPhpDoc
			count: 1
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Property MessageBusBundle\\Tests\\TestCase\\Unit\\Tests\\MessageBusTraitTest\:\:\$serializer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Property PHPUnit\\Framework\\TestCase@anonymous/tests/TestCase/Unit/Tests/MessageBusTraitTest\.php\:32\:\:\$producer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php

		-
			message: '#^Property class@anonymous/tests/TestCase/Unit/Tests/MessageBusTraitTest\.php\:72\:\:\$producer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/TestCase/Unit/Tests/MessageBusTraitTest.php
